.login-container {
    border: 1px solid #ccc; 
    width: 50%; 
    margin: 0 auto; 
    padding: 20px; 
    text-align: center; 
  }
  
  .login-container h2 {
    margin-bottom: 10px; 
  }
  
  .login-container form {
    margin-top: 20px; 
  }
  
  .login-container .error-message {
    color: red; 
  }