.profile-page {
    border: 1px solid #ccc; 
    width: 50%; 
    margin: 20px auto; 
    padding: 20px; 
    text-align: center; 
  }
  
  .profile-page h2 {
    margin-bottom: 10px; 
  }
  
  .profile-page p {
    margin-bottom: 10px; 
  }
  
  .profile-page input {
    margin-bottom: 10px; 
  }
  
  .profile-page button {
    margin-top: 10px; 
  }